* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0px auto;

  @include media(">=phone", "<tablet") {
    width: 325px;
    margin: 0px auto;
  }
}
