$moderateViolet: hsl(263, 55%, 52%);

$veryDarkGrayishBlue: hsl(217, 19%, 35%);

$veryDarkBlackishBlue: hsl(217, 41%, 50%);

$white: hsl(0, 0%, 100%);

$lightGray: #cfcfcf;

$lightGrayishBlue: hsl(210, 46%, 95%);
