@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif; // Available font-weights: 500, 600;
}

.heading {
  font-family: "Barlow Semi Condensed", sans-serif;

  &--primary {
    font-size: 20px;
    font-weight: 600;
    color: $white;

    &--alt {
      color: $veryDarkGrayishBlue;
    }
  }

  &--secondary {
    font-size: 13px;
    font-size: 500;
    color: $white;

    &--alt {
      color: $veryDarkGrayishBlue;
    }
  }
}

.paragraph {
  font-family: "Barlow Semi Condensed", sans-serif;

  &--1 {
    font-size: 13px;
    font-weight: 500;
    color: $lightGray;

    &--alt {
      color: $veryDarkGrayishBlue;
    }

    &--special {
      color: $lightGray;
    }
  }

  &--2 {
    font-size: 11px;
    font-weight: 500;
    color: #ffffff7f;

    &--alt {
      color: $veryDarkGrayishBlue;
    }
  }
}
