@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

@layer base {
  html {
    font-family: "Barlow Semi Condensed", sans-serif;
  }
}

@layer components {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 33px;
  }

  .testimonial-1 {
    grid-column: 1/3;
  }
  .testimonial-2 {
    grid-column: 3/4;
  }

  .testimonial-3 {
    grid-row: 2/3;
  }

  .testimonial-4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .testimonial-5 {
    grid-row: 1/3;
  }
}
